body{
    background: #BDBDBD;
}
.container{
    background: url("../img/bg.jpg");
    background-size: contain;
    height: 500px;
    flex-grow: 1;
    padding: 0%;
}
.display-4{
    margin: auto;
    background-color: white;
    width: auto;
    font-weight: bold;
    justify-items: center;
    text-align: center;
}
.lead{
    margin: auto;
    background-color: white;
    width: auto;
    font-weight: bold;
    justify-items: center;
    text-align: center;
}
jumbotron jumbotron-fluid{
    width: 10px;
}

.card {
    border: none !important;
}
.card img {
    height: 13rem;
    object-fit: cover;
    object-position: center center;
}

body {background-color: white;}


