body{
    background: #BDBDBD;
   
}

.container{   
    background-image: url("../img/bg.jpg");
    background-size: cover;
    height: 600px;
    
    padding-top: 45px;
}
.display-4{
    margin:15px 0px 15px 0px;
    width: auto;
    background-color: white;
    font-weight:bold ;
    justify-items: center;
    text-align: center;
    font-size:100px;
    
}
    
.lead{
    margin:15px 0px 15px 0px;
    width: auto;
    background-color: white;
    font-weight:bold ;
    justify-items: center;
    text-align: center;
    font-size: 45px;
    
}


.card {
    border: none !important;
}
.card img {
    height: 13rem;
    object-fit: cover;
    object-position: center center;
}

body {background-color: white;}


