body{
    background: #BDBDBD;
}

.card {
    border: none !important;
}
.card img {
    height: 13rem;
    object-fit: cover;
    object-position: center center;
}

body {background-color: white;}


