<div class="contact-container">
  <p>
  <h1>Contact</h1>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
    type specimen book.</p>
  <form>
    <div class="emailbox">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Your email">
      </div>
      <div class="mb-3">
        <label for="text" class="form-label">Your Message</label>
        <input type="text" class="form-control" id="Type Description" placeholder="Please enter your message here...">
      </div>
      <div class="button-right">
      <button type="submit" class="btn btn-primary" class="right">Submit</button>
      </div>
    </div>
  </form>
  </p>
</div>